# ===== ESP-IDF =====
build/
sdkconfig.old
sdkconfig.backup
dependencies.lock
managed_components/
components/**/build/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# VSCode
.vscode/
.history/

# Python
__pycache__/
*.pyc

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# ELF + binaries
*.elf
*.bin
*.map
*.obj
*.o

# IDF generated
idf_component.yml.lock